@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    text-align: center;
    background-color: #131313;
    font-family: 'Poppins', sans-serif;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

table {
    margin: 20px auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #282828;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.heading {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.time {
    background-color: #090909;
    color: #FFFFFF;
    font-size: 50px;
    width: 100px;
    margin: 0 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
